Support SOP.json
{
  "name": "Support SOP",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        -16
      ],
      "id": "bd969a1f-4da6-42b4-84eb-501198ab7662",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "WxT4m2ugftR6IHxD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "25ec8970-3b52-4c72-a684-8c2fb2370ffc",
              "leftValue": "=={{ ['refund','cancel','return'].some(w => ($json.snippet || '').toLowerCase().includes(w)) }}\n",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        -16
      ],
      "id": "e9d442a8-d8c3-4f47-aa13-a5b17aa54ee5",
      "name": "Common Queries"
    },
    {
      "parameters": {
        "team": "90161246113",
        "space": "90165096166",
        "folderless": true,
        "list": "901611066047",
        "name": "={{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -128,
        80
      ],
      "id": "4ab061ac-79ee-48f4-a931-0f8c18a75d8f",
      "name": "Create a task",
      "credentials": {
        "clickUpApi": {
          "id": "zoQEaJrpkl6NvjMB",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a4aaf9d8-d5fd-4673-afe5-f9c38f3a787a",
              "leftValue": "={{ [\"urgent\", \"immediate\", \"asap\", \"high priority\"].some(keyword => $('Gmail Trigger').item.json.snippet.toLowerCase().includes(keyword)) }}\n",
              "rightValue": "=true\n",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "e93f64f2-6038-410f-a8dd-971b0a6f1b56",
              "leftValue": "={{ [\"urgent\", \"immediate\", \"asap\", \"high priority\"].some(keyword => $('Gmail Trigger').item.json.Subject.includes(keyword)).toString() }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "b3f67d44-61be-44c6-b15e-d51549d375f6",
              "leftValue": "={{ $('Gmail Trigger').item.json.Subject }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        80
      ],
      "id": "4dea17e6-1566-4182-858e-04f28217b189",
      "name": "Urgent"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "Thank you for reaching out",
        "message": "=Hello {{ $json.From }} ,  Thank you for contacting us. We’ve received your request and our support team is reviewing the details. For many common questions, you may also find quick answers in our [Help Center/FAQ link].  If your query requires further review, one of our team members will get back to you within [X timeframe, e.g., 24 hours] with more information.  We appreciate your patience and look forward to assisting you.  \nBest regards, \n[Your Company’s Support Team]",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -128,
        -112
      ],
      "id": "87ef7a35-37ad-4fb8-b958-14f420ce0f20",
      "name": "Auto-Reply",
      "webhookId": "0d012cb5-fad5-42e0-b88b-d288b1839557",
      "credentials": {
        "gmailOAuth2": {
          "id": "WxT4m2ugftR6IHxD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C096AUN6T26",
          "mode": "list",
          "cachedResultName": "servicerequest"
        },
        "text": "=🚨 Urgent Support Request Received 🚨  \nA new urgent customer support query has been logged. \n• Customer: {{ $('Gmail Trigger').item.json.From }}\n• Ticket ID:{{ $('Create a task').item.json.id }}  \n• Subject: {{ $json.name }} \n• Logged at: {{ $json.date_created }}  \n\n👉 Please review and prioritize this request immediately. ",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        320,
        -80
      ],
      "id": "300a61d5-c0aa-4ff5-bb83-08b506d3edd3",
      "name": "Update Team Slack",
      "webhookId": "41919ab3-f047-490d-a148-5208ca50b67e",
      "credentials": {
        "slackApi": {
          "id": "530tOYeGepMoVyTN",
          "name": "Slack-Support-Bot"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Common Queries').item.json.From }}",
        "subject": "=You request has been logged with request number {{ $json.id }}",
        "message": "=Hello {{ $json.creator.username }} ,  We’ve received your support request and it has been successfully logged in our system. Our team is now reviewing the details.  Your reference number is [Ticket ID]. Please include this number in any future correspondence about this request.  We aim to provide an update within [X timeframe, e.g., 24 hours]. In the meantime, you can also visit our [Help Center/FAQ link] for quick answers to common questions.  Thank you for reaching out to us. We’ll be in touch soon.  Best regards, [Your Company] Support Team ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        544,
        80
      ],
      "id": "a70c642b-2cce-4321-b359-534061c1124d",
      "name": "Confirmation of request",
      "webhookId": "44107b9d-50c9-41ef-8156-41bce5165d0f",
      "credentials": {
        "gmailOAuth2": {
          "id": "WxT4m2ugftR6IHxD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        752,
        96
      ],
      "id": "375d488b-a332-48a8-8149-60a27ba114af",
      "name": "Mark a message as read",
      "webhookId": "e88a16e7-19e5-46f4-b970-9ab63bd08f93",
      "credentials": {
        "gmailOAuth2": {
          "id": "WxT4m2ugftR6IHxD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_1834877757785562611"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        96
      ],
      "id": "2bd74b88-4237-4763-8099-c90e0ef1d5af",
      "name": "Add label to message",
      "webhookId": "75ce6ff5-a3fe-439b-91e4-668c8bb4bf08",
      "credentials": {
        "gmailOAuth2": {
          "id": "WxT4m2ugftR6IHxD",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Common Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Common Queries": {
      "main": [
        [
          {
            "node": "Auto-Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Urgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Urgent": {
      "main": [
        [
          {
            "node": "Update Team Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmation of request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Team Slack": {
      "main": [
        [
          {
            "node": "Confirmation of request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmation of request": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4227021c-596d-4ea6-815b-df42d6d5a105",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "584c65478509174251e01087025d82abcbf636f3f650fabc35c25e4cc9ded6d9"
  },
  "id": "K9JPwgHfAuuLo82V",
  "tags": []
}